<<<<<<< Updated upstream
<main>
  <h3><span></span><span>B</span>o<span>o</span><span>k</span><span>s</span></h3>
  <h5>本の感想を投稿するアプリです</h5>
</main>


=======
<h3>トップページ</h3>

<p><%= link_to "管理者ログイン", new_admin_session_path %></p>
>>>>>>> Stashed changes
