<table>
  <thead>
    <tr>
      <td>ユーザ名</td>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
      <td>
        <%= link_to admin_user_path(user) do %>
          <%= user.name %>
        <% end %>
        <%= link_to "編集", edit_admin_user_path(user) %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>